Repository softwarefactory-project/DLRN: changes, and which Zuul jobs are due for each by the changed paths.
All: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9, docs-build

dlrn-base:
  parent: base
  pre-run: playbooks/prepare.yaml
  post-run: playbooks/retrieve-logs.yaml
  nodeset:
    nodes:
    - name: test-node
      label: cloud-centos-9-stream

dlrn-rpmbuild-centos-9:
  parent: dlrn-base
  description: Run DLRN to build a package using Python 3 on Centos9
  run: playbooks/rpmbuild.yaml
  vars:
    python_version: py39
    tag: ''
    centos_version: centos9
  nodeset:
    nodes:
    - name: cloud-centos-9-stream
      label: cloud-centos-9-stream

dlrn-api-functional:
  parent: dlrn-base
  description: Run a DLRN functional test, using the API and dlrnapi_client
  run: playbooks/dlrn-api-functional.yaml
  post-run: playbooks/dlrn-api-functional-getlogs.yaml
  timeout: 3600
  required-projects:
  - DLRN
  - dlrnapi_client

dlrn-api-functional-centos-9:
  parent: dlrn-api-functional
  nodeset:
    nodes:
    - name: cloud-centos-9-stream
      label: cloud-centos-9-stream

docs-build:
  description: Build the DLRN docs
  run: playbooks/dlrndocbuild.yaml
  success-url: docs-html/index.html
  required-projects:
  - DLRN
  nodeset:
    nodes:
    - name: container
      label: zuul-worker-f40

Validate agg, promotion and last_tested_repo input
  dlrn/api/dlrn_api.py
  dlrn/api/inputs/agg_status.py
  dlrn/api/inputs/last_tested_repo.py
  dlrn/api/inputs/promotions.py
  dlrn/tests/test_api.py
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Add input validation to three more endpoints
  dlrn/api/dlrn_api.py
  dlrn/api/inputs/last_tested_repo.py
  dlrn/api/inputs/metrics.py
  dlrn/api/inputs/report_result.py
  dlrn/tests/test_api.py
  dlrn/tests/test_api_input_models.py
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Validates promote, promote batch and remote import
  dlrn/api/dlrn_api.py
  dlrn/api/inputs/promotions.py
  dlrn/api/inputs/remote_import.py
  dlrn/tests/test_api_input_models.py
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Add -eom to the tags to remove from repos in automatic release detection
  scripts/common-functions
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Add krb5-devel as bindep
  bindep.txt
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Adding NVR and commit hash to status_report jinja2
  dlrn/reporting.py
  dlrn/templates/status_report.j2
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Update doc generation
  doc/requirements.txt
  doc/source/conf.py
  playbooks/dlrndocbuild.yaml
  setup.cfg
  test-requirements.txt
  tox.ini
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9, docs-build

Remove old target definitions
  dlrn/tests/test_build.py
  doc/source/api.rst
  doc/source/internals.rst
  playbooks/rpmbuild.yaml
  projects.ini
  scripts/centos.cfg
  scripts/centos8-stream.cfg
  scripts/centos8.cfg
  scripts/run_tests.sh
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9, docs-build

Add CentOS Stream 10 mock config
  scripts/centos-stream-10.cfg
  scripts/centos10-stream.cfg
  scripts/centos10.cfg
  scripts/run_tests.sh
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Change status_report SHA table header
  dlrn/templates/status_report.j2
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Remove remote-tracking ref that no longer exist
  dlrn/repositories.py
  dlrn/tests/test_repositories.py
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Git log from HEAD revision parameter
  dlrn/repositories.py
  dlrn/tests/test_repositories.py
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Validates CIVotes and recheck_package endpoints
  dlrn/api/dlrn_api.py
  dlrn/api/inputs/civotes.py
  dlrn/api/inputs/recheck_package.py
  dlrn/tests/test_api.py
  dlrn/tests/test_api_input_models.py
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Update links for delorean.repo in the documentation
  doc/source/repositories.rst
Due: docs-build

Fix query arg lists in graphql docs
  doc/source/graphql.rst
Due: docs-build

Use baseurl in centos-stream-10.cfg
  scripts/centos-stream-10.cfg
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Add advanced timestamp filtering to graphql API
  dlrn/api/graphql.py
  dlrn/tests/test_graphql.py
  doc/source/graphql.rst
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9, docs-build

Fix consistency between dlrn/repositories and kojidriver
  dlrn/drivers/kojidriver.py
  dlrn/tests/test_driver_koji.py
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Improve error message on bad versions timestamps
  dlrn/drivers/downstream.py
  dlrn/tests/samples/versions.csv
  dlrn/tests/test_driver_downstream.py
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Fix broken python <3.12 f-string
  dlrn/drivers/downstream.py
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Build simple api responses with dedicated classes
  dlrn/api/dlrn_api.py
  dlrn/api/responses/__init__.py
  dlrn/api/responses/health.py
  dlrn/api/responses/metrics.py
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Add new endpoint for getting components
  dlrn/api/dlrn_api.py
  dlrn/db.py
  dlrn/tests/samples/commits_2.yaml
  dlrn/tests/test_api.py
  dlrn/tests/test_db.py
  doc/api_definition.yaml
  doc/source/api.rst
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9, docs-build

Adding a specific api Kerberos token cache
  dlrn/api/drivers/krbauthentication.py
  dlrn/tests/test_api.py
Due: dlrn-base, dlrn-rpmbuild-centos-9, dlrn-api-functional, dlrn-api-functional-centos-9

Path conditions:
  dlrn-base: unless all of: ^doc/.*$
  dlrn-rpmbuild-centos-9: unless all of: ^doc/.*$
  dlrn-api-functional: unless all of: ^doc/.*$
  dlrn-api-functional-centos-9: unless all of: ^doc/.*$
  docs-build: any of: ^doc/.*$
